language: python

dist: bionic

install:
  # MSSQL support, 4 lines
  # until https://github.com/epam/OSCI/issues/2 is fixed
  - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=yourStrong(!)Password' -e 'MSSQL_PID=Express' -p 127.0.0.1:1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest-ubuntu
  - sudo apt-get -y install unixodbc-dev tdsodbc
  - sudo odbcinst -i -d -f /usr/share/tdsodbc/odbcinst.ini

  - pip install -r requirements.txt

env:
  # MSSQL support, 1 line
  - DATABASE_URL: "mssql+pyodbc://sa:yourStrong\(!)Password@127.0.0.1:1433/{db_name}?driver=FreeTDS&autocommit=True"
script:
  # test connection
  - python dbconnector.py

