meta:
  config_source: 'yaml'
file_system:
  type: 'blob'
  account_name: ''
  account_key: ''
areas:
  landing:
    container: 'landing'
  staging:
    container: 'staging'
  public:
    container: 'public'
bq:
  project: ''
  secret: '{}'
github:
  token: ''